# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled OCaml objects
*.cmo
*.cmi
*.cmx
*.cmxa
*.cma
*.annot
*.cmt
*.cmti

# compiled omake files
*.omc

# executable
*.opt
*.run

# generated documents
*.html
*.dot
*.css

# generated header file:no tracking
src/config/sdl_init_flags.h
src/config/sdl_mixer_flags.h
src/config/gl_flags.h

src/enums/*.inc